body {
    background-image: url('../image/фон_лит.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.mo1 {
    text-align: center;
    font-size: 42px;
    color: ff9966;
    font-family: 'Luminari';
    text-shadow: 1px 1px 3px gray;
}

table.delivery {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}
table.delivery thead {
    font-family: 'American Typewriter';
    font-size: 18px;
    color: #0a0a0a;
    text-shadow: 3px 1px 5px black;
}
table.delivery th,
td {
    border: solid;
    border-style: double;
    border-color: black;
    border-width: medium;
}

#btn6 {
    margin: 30px 0;
    border-color: #808080; /*цвет рамки*/
    border-style: dashed; /*точечная линия*/
    border-width: 5px; /*толщина линии*/
    border-radius: 10px; /*скругленные углы*/
    background-color: #ffffff;
    font-size: 15px;
    font-family: 'Didot';
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
